* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	height: 100%;
}

.container {
	display: flex;
	height: 100vh;
	max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
	/* overflow: hidden; */
}


/* Styles pour la partie gauche */

.left {
	/* flex: 1; */
	padding: 20px;
    width: 50%;
	border-right: 1px solid black;
}
.header-left {
	display: flex;
}
.add-contact-btn {
	background-color: #009BFF;
	color: #fff;
	padding: 7px 15px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	position:relative;
	left: 170px;
	width: 134px;

}
.contacts-list {
	list-style: none;
	padding: 0;
}
.contacts-list li {
	margin-top: 25px;
}
.contact-info {
	display: flex;
	align-items: center;
}
.contact-info img{
	width: 70px;
	height: 70px;
	margin-right: 10px;
	border-radius: 50%;

}

.details {
	font-size: 14px;
}
.actions {
	display: flex;
	align-items: end;
	margin-left: 90px;
  }
  
  .edit-btn,
  .delete-btn {
	margin-left: 25px;
	padding: 5px 10px;
	font-size: 14px;
	border: none;
	background-color: #CCC;
	color: #333;
	cursor: pointer;
  }
  
  .edit-btn:hover,
  .delete-btn:hover {
	background-color: #333;
	color: #FFF;
  }

.contact {
	margin-bottom: 10px;
	padding: 10px;
}
.hide {
	display: none;
}
#empty{
	margin-top: 200px;
	margin-left: 23px;
}


/* Styles pour la partie de droite */

.right {
	width: 50%;
	background-color: #fff;
	padding: 20px;
}
.right h3{
	margin-bottom: 50px;
}

.form-container {
	display: none;
	padding: 20px;
	width: 100%;
}

.form-container input[type=text],
.form-container input[type=email],
.form-container input[type=tel],
.form-container input [type=date],
.form-container select,
.form-container textarea {
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 20px;
}

.form-container button[type=submit] {
	background-color: #009BFF;
	color: #fff;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.form-container button[type=button]{
	background-color: #D8D8D8;
	color: #fff;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.form-container button[type=submit]:hover,
.form-container button[type=button]:hover {
	background-color: blue;
}
.form {
	display: flex;
	flex-wrap: wrap;
}
.elt{
	margin-right: 25px;
}
.elt.dtn input{
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 20px;
}